@include block("upload-page") {
  text-align: center;

  @include element("header") {
    height: calc(15vh - #{$nav-height});
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
  }

  @include element("export-form") {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include element("file-instructions") {
    font-weight: bold;
  }

  @include element("file-input") {
    border: 1px solid $PRIMARY_INPUT_BORDER_COLOR;
    border-radius: 2px;
    margin-top: 0.5em;
    padding: 0.3em;
    border-radius: 4px;
    width: 80%;
  }

  @include element("load-indicator") {
    animation: blinkingText 1s infinite;
    margin-top: 0.5em;
    font-weight: bolder;
  }

  @include element("upload-notice") {
    margin: 0.5em 0;
  }

  @include element("file-report") {
    white-space: pre-wrap;
    margin: 0 25%;
  }

  @include element("message") {
    font-size: 1.2em;
  }

  @keyframes blinkingText {
    0% {
      color: $PRIMARY_BODY_TEXT_COLOR;
    }
    25% {
      color: $SECONDARY_BODY_TEXT_COLOR;
    }
    50% {
      color: $TERTIARY_BODY_TEXT_COLOR;
    }
    75% {
      color: $QUATERNARY_BODY_TEXT_COLOR;
    }
  }

  // May come back. If you return to this file and happen upon this, then remove it.
  // @include element("file-button") {
  //   background: $PRIMARY_BUTTON_BACKGROUND_COLOR;
  //   border: 1px solid $PRIMARY_BUTTON_BORDER_COLOR;
  //   color: $PRIMARY_BUTTON_TEXT_COLOR;
  //   margin-top: 0.5em;
  //   padding: 0.5em;
  //   border-radius: 4px;
  // }
}
