@include block("rating-page") {
  text-align: center;

  @include element("header") {
    height: calc(100vh - #{$nav-height});
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
