// Theme
$primaryColor: #A261B1;

// Layout
$max-width: 1440px;

// Nav
$nav-height: 60px;

// Responsive breakpoints
$break-xs: 32em;
$break-ss: 40em;
$break-sm: 48em;
$break-ms: 56em;
$break-md: 64em;
$break-lg: 75em;
