@charset "UTF-8";

// Utilities
// functions and variables
@import "utilities/bem-functions";
@import "utilities/breakpoints";
@import "utilities/colors";
@import "utilities/variables";
// reusable classes
@import "utilities/modifiers";
@import "utilities/typography";

// Base Styling -- applies to all pages
@import "base/base";

// Views
@import "../components/HomePage/HomePage";
@import "../components/Layout/Layout";
@import "../components/Nav/Nav";
@import "../components/RatingPage/RatingPage";
