@include block("nav") {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background: $PRIMARY_HEADER_CONTENT_BACKGROUND_COLOR;
  display: block;
  height: $nav-height;
  z-index: 1000;

  @include element("spacer") {
    width: 100%;
    position: relative;
    top: 0;
    height: $nav-height;
    z-index: 1;
  }

  @include element("logo") {
    width: $nav-height;
  }

  // Nav Menu (react-burger-menu)
  @include element("menu-wrapper") {
    top: 0;
  }

  @include element("menu") {
    @include applyThematically(background-color, MODAL_BACKGROUND_COLOR);
    padding: 2.5em 1.5em 0;
    font-size: 1.35em;
  }

  @include element("menu-item") {
    padding: 0.5em;
    text-decoration: none;
    @include applyThematically(color, LABEL_COLOR);
  }

  @include element("menu-burger-button") {
    position: fixed;
    width: 24px;
    height: 21px;
    right: ($nav-height - 24px) / 2;
    top: ($nav-height - 24px) / 2;
  }

  @include element("menu-burger-bar") {
    background: $PRIMARY_MODAL_HEADER_TEXT_COLOR;
  }

  @include element("menu-cross") {
    @include applyThematically(background-color, LABEL_COLOR);
  }

  @include element("menu-cross-button") {
    height: 24px;
    width: 24px;
  }

  @include element("menu-item-list") {
    @include applyThematically(color, LABEL_COLOR);
  }

  @include element("menu-overlay") {
    top: 0;
    background: rgba(0, 0, 0, 0.3);
  }
}
